<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 어느테이션이 선언된 클래스들을 스캔하기 위한 설정 -->
	<!-- context라는 prefix 설정하는 이유 
	  - namespace : 기능별로 xml의 태그명이 똑같더라도 namespace가 다르면 구분 가능 
	  - beans는 default namespace라서 prefix 없이 사용
	  - context는 :context라는 prefix가 있어서 태그명에 작성해야함-->
	<context:component-scan base-package="myspring.di.annot"/>
</beans>
